{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row-fluid" style="margin-top: 70px;">
        <div class="span12">
            <div class="hero-unit" style="margin-top: 10px; text-align: center; min-width: 150px;">
            <h2>About</h2>
            <p>
                This website was developed to assist students and other interested parties in filtering and displaying
                information on reality television shows. It was specifically designed to filter shows by time-on-air,
                network, and category. Anyone can use the filtering system to find television shows and the information
                about them. To add or edit information about television shows you must create an account and be approved
                by an administrator.
            </p>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit" style="margin-top: 10px; text-align: center; min-width: 150px;">
                <h2>Filter Instructions</h2>
                <p>
                    To use the filtering system head to the <a href="/">home page</a>. From here you will need to fill
                    in information you want to base the filter on. After all the information is entered you must click
                    the filter button. The shows television shows that fit your desired criteria will then be displayed
                    below in the results area.
                </p>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit" style="margin-top: 10px; text-align: center; min-width: 150px;">
                <h2>Other Tips</h2>
                <p>
                    Each field is optional and it is possible to run a filter with out selecting a single field to
                    filter by.
                </p>
                <p>
                    To clear the Start Date or End Date field simply click Clear next to the respective field.
                </p>
                <p>
                    The Clear All button will clear all the information on the page.
                </p>
                <p>
                    You can select multiple Networks and Categories by holding CTRL and clicking the desired value.
                </p>
                <p>
                    You can also deselect a Networks or Categories value by holding CTRL and clicking the selected field
                     a second time.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
